# Copyright (c) 2009-2012, 2014-2015, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

on fs
    wait /dev/block/platform/soc/1da4000.ufshc
    symlink /dev/block/platform/soc/1da4000.ufshc /dev/block/bootdevice
    chmod 0660 /dev/qseecom
    chown system drmrpc /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion
    install_keyring

on boot
    # Update foreground and background cpusets
    # For cpusets initialize for Silver Only first and then Silver + Gold
    # Silver Only configuration cannot work with 0-7
    write /dev/cpuset/top-app/cpus 0-3
    write /dev/cpuset/foreground/cpus 0-3
    write /dev/cpuset/foreground/boost/cpus 0-3
    write /dev/cpuset/background/cpus 0-3
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/cpus 0-2,4-7
    write /dev/cpuset/foreground/boost/cpus 4-7
    write /dev/cpuset/background/cpus 0
    write /dev/cpuset/system-background/cpus 0-2

    # Enable sched boost
    write /proc/sys/kernel/sched_boost 1

on enable-low-power
    write /sys/devices/system/cpu/cpu4/core_ctl/min_cpus 2
    write /sys/devices/system/cpu/cpu4/core_ctl/busy_up_thres 60
    write /sys/devices/system/cpu/cpu4/core_ctl/busy_down_thres 30
    write /sys/devices/system/cpu/cpu4/core_ctl/offline_delay_ms 100
    write /sys/devices/system/cpu/cpu4/core_ctl/is_big_cluster 1
    write /sys/devices/system/cpu/cpu4/core_ctl/task_thres 4
    
    # Setting b.L scheduler parameters
    write /proc/sys/kernel/sched_migration_fixup 1
    write /proc/sys/kernel/sched_upmigrate 95
    write /proc/sys/kernel/sched_downmigrate 90
    write /proc/sys/kernel/sched_group_upmigrate 100
    write /proc/sys/kernel/sched_group_downmigrate 95
    write /proc/sys/kernel/sched_select_prev_cpu_us 0
    write /proc/sys/kernel/sched_freq_inc_notify 400000
    write /proc/sys/kernel/sched_freq_dec_notify 400000
    write /proc/sys/kernel/sched_spill_nr_run 5
    write /proc/sys/kernel/sched_restrict_cluster_spill 1

    # Disable thermal bcl hotplug to switch governor
    write /sys/module/msm_thermal/core_control/enabled 0

    # Bring CPU0 online
    write /sys/devices/system/cpu/cpu0/online 1

    # Configure governor settings for little cluster
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/use_sched_load 1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/use_migration_notif 1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay 19000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 90
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate 20000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 1248000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy 1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads "83 1804800:95"
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time 19000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/max_freq_hysteresis 79000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/ignore_hispeed_on_notif 1

    # Bring CPU4 online
    write /sys/devices/system/cpu/cpu4/online 1

    # Configure governor settings for big cluster
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/use_sched_load 1
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/use_migration_notif 1
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay 19000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load 90
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate 20000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq 1574400
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy 1
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads "83 1939200:90 2016000:95"
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time 19000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/max_freq_hysteresis 79000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/ignore_hispeed_on_notif 1

    # Re-enable thermal and BCL hotplug
    write /sys/module/msm_thermal/core_control/enabled 1

    # Enable input boost configuration
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1324800"
    write /sys/module/cpu_boost/parameters/input_boost_ms 40

    # Enable bus-dcvs
    write /sys/class/devfreq/soc:qcom,cpubw/governor "bw_hwmon"
    write /sys/class/devfreq/soc:qcom,cpubw/polling_interval 50
    write /sys/class/devfreq/soc:qcom,cpubw/min_freq 1525
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/mbps_zones "3143 5859 11863 13763"
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/sample_ms 4
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/io_percent 34
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/hist_memory 20
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/hyst_length 10
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/low_power_ceil_mbps 0
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/low_power_io_percent 34
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/low_power_delay 20
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/guard_band_mbps 0
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/up_scale 250
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/idle_mbps 1600

    write /sys/class/devfreq/soc:qcom,memlat-cpu0/governor "mem_latency"
    write /sys/class/devfreq/soc:qcom,memlat-cpu0/polling_interval 10
    write /sys/class/devfreq/soc:qcom,memlat-cpu0/mem_latency/ratio_ceil 400
    write /sys/class/devfreq/soc:qcom,memlat-cpu4/governor "mem_latency"
    write /sys/class/devfreq/soc:qcom,memlat-cpu4/polling_interval 10
    write /sys/class/devfreq/soc:qcom,memlat-cpu4/mem_latency/ratio_ceil 400
    write /sys/class/devfreq/soc:qcom,mincpubw/governor "cpufreq"

    write /sys/module/lpm_levels/system/pwr/cpu0/ret/idle_enabled "N"
    write /sys/module/lpm_levels/system/pwr/cpu1/ret/idle_enabled "N"
    write /sys/module/lpm_levels/system/pwr/cpu2/ret/idle_enabled "N"
    write /sys/module/lpm_levels/system/pwr/cpu3/ret/idle_enabled "N"
    write /sys/module/lpm_levels/system/perf/cpu4/ret/idle_enabled "N"
    write /sys/module/lpm_levels/system/perf/cpu5/ret/idle_enabled "N"
    write /sys/module/lpm_levels/system/perf/cpu6/ret/idle_enabled "N"
    write /sys/module/lpm_levels/system/perf/cpu7/ret/idle_enabled "N"
    write /sys/module/lpm_levels/system/pwr/pwr-l2-dynret/idle_enabled "N"
    write /sys/module/lpm_levels/system/pwr/pwr-l2-ret/idle_enabled "N"
    write /sys/module/lpm_levels/system/perf/perf-l2-dynret/idle_enabled "N"
    write /sys/module/lpm_levels/system/perf/perf-l2-ret/idle_enabled "N"
    write /sys/module/lpm_levels/parameters/sleep_disabled "N"

on property:init.svc.recovery=running
    trigger enable-low-power

#on property:ro.crypto.state=encrypted
#    start sbinqseecomd

# Separate copy needed to use /sbin/linker64 instead of /system/bin/linker64
service sbinqseecomd /sbin/qseecomd
    disabled
    user root
    group root
    seclabel u:r:recovery:s0

on boot
    start sbinqseecomd
